/* Add any css you want to use for you website here */
#body_home{
  background-image: url("../img/buff_background.jpg");
  background-size: 100% 210%;
}

.outerdiv{
  position: relative;
}

#mainhomebox{
  background-color: rgb(215, 215, 215);
  display:inline-block;
  vertical-align: top;
  position: absolute;
  padding: 25px;
}

#homeseparator{
  display:inline-block;
  vertical-align: top;
}

.imagediv{
  display: inline-block;
  vertical-align: top;
}
