
<!DOCTYPE html>
<html>
  <head>
    <title>About Me</title>
    <link href="../resources/css/styles.css" rel="stylesheet">
  </head>
  <body>
    <h1>Martin, Jake</h1>
    <p>I am a lifelong Coloradoan, am currently attending CU Boulder,
      and am studying Computer Science and Quantitative Finance.
      I am studying CS because I find technology inherently interesting,
      and coding is fun.
    </p>
    <h2>My Professional Profile</h2>
    <br><br>
    <img src="../resources/img/Jake_CU.jpg" alt="A Picture of Jake" width=450px height=500px>
    <br><br><br>
    <h3>My Favorite Projects</h3>
    <table width=50%>
      <tr>
        <th style="text-align:left">Name of the Project</th>
        <th style="text-align:left">Technologies Used</th>
      </tr>
      <tr>
        <td>This Website</td>
        <td>HTML</td>
      </tr>
      <tr>
        <td>Lab 6</td>
        <td>JavaScript, HTML, CSS</td>
      </tr>
      <tr>
        <td>Lab 5</td>
        <td>HTML, CSS</td>
      </tr>
    </table>
    <br>
    <h3>My Interests</h3>
    <ul>
      <li>Coding</li>
      <li>Trading/Investing</li>
      <li>Gaming</li>
    </ul>

  </body>
</html>
